
<ul class="grid">
  <!--Line 1-->
  <li><app-grid-square position="1"></app-grid-square></li>
  <li><app-grid-square position="2"></app-grid-square></li>
  <li><app-grid-square position="3"></app-grid-square></li>
  <!--Line 2-->
  <li><app-grid-square position="4"></app-grid-square></li>
  <li><app-grid-square position="5"></app-grid-square></li>
  <li><app-grid-square position="6"></app-grid-square></li>
  <!--Line 3-->
  <li><app-grid-square position="7"></app-grid-square></li>
  <li><app-grid-square position="8"></app-grid-square></li>
  <li><app-grid-square position="9"></app-grid-square></li>
</ul>
