<div class="match-setup">
  <span>Tic Tac Extreme!</span>
  <form #matchForm="ngForm" >
    <label >Player 1
    <input name="namePlayer1" type="text" ngModel>
    </label>
    <label >Player 2
    <input name="namePlayer2" type="text" ngModel>
    </label>
    <br>
    <span *ngIf="warningMessage">{{warningMessage}}</span>
    <br>
    <button type="button" (click)="setupMatch(matchForm.value)" >Start Match!</button>
  </form>

</div>